@font-face {
  font-family: 'JF Dot Shinonome14';
  src: url('fonts/JF-Dot-Shinonome-14-Regular.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'JF Dot Shinonome14', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
