@font-face {
  font-family: 'JF Dot Shinonome Gothic 14';
  src: url('fonts/JF-Dot-Shinonome-14-Regular.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 40px;
  background-color: black;
  color: white;
  font-family: 'JF Dot Shinonome Gothic 14', monospace;
}

.text-container {
  white-space: pre-line;
  font-size: 21px;
  transform: scale(2); /* 2倍に拡大表示 */
  transform-origin: top left;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  font-smooth: never;
  text-align: left;
  margin: 8px 0;
}
